/* /Components/NavbarHome.razor.rz.scp.css */
.NavbarHome[b-hzksiupl7d] {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #25408F;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.NavbarHome_wrapper[b-hzksiupl7d] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavbarHome_img[b-hzksiupl7d] {
	width: auto;
	height: 90px;
}

.NavbarHome_ul[b-hzksiupl7d] {
	display: flex;
	list-style: none;
	margin: 0;
}

.NavbarHome_li[b-hzksiupl7d] {
	position: relative;
}

.NavbarHome_li[b-hzksiupl7d]::after {
	content: '';
	position: absolute;
	right: 0;
	top: -10%;
	height: 110%;
	width: 1px;
	background-color: white;
}

.NavbarHome_li-last[b-hzksiupl7d]::after {
	height: 0;
}

.NavbarHome_a[b-hzksiupl7d] {
	position: relative;
	padding: 15px;
	text-decoration: none;
	color: white;
}


.NavbarHome_a[b-hzksiupl7d]::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 5px;
	background-color: white;
	transition: width 0.3s ease;
}

.NavbarHome_a:hover[b-hzksiupl7d] {
	background-color: #53719e;
}

.NavbarHome_a:hover[b-hzksiupl7d]::after {
	width: 100%;
}
/* /Layout/MainLayout.razor.rz.scp.css */
*[b-l2r1d6nxw6] {
	padding: 0;
	margin: 0;
}
/* /Pages/Home.razor.rz.scp.css */
.mainContent[b-0cq57vet8a] {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

/* Left Column */
.left_col-ul[b-0cq57vet8a] {
	border: 1px solid #bbb;
	list-style: none;
}

.left_col-a[b-0cq57vet8a] {
	text-decoration: none;
	color: black;
	padding: 5px 35px;
	display: block;
	white-space: nowrap;
	border-bottom: .1px solid #bbb;
}

.left_col-a-last[b-0cq57vet8a] {
	border-bottom: none;
}

.left_col-li[b-0cq57vet8a] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left_col-a:hover[b-0cq57vet8a] {
	background-color: #1b2f5a;
	color: white;
}

.left_col-a:hover>.left_col-li>.left_col-arrow[b-0cq57vet8a] {
	border: solid white;
	border-width: 0 2px 2px 0;
	padding: 1.5px;
	transform: rotate(-45deg);
}

.left_col-arrow[b-0cq57vet8a] {
	position: relative;
	right: -25px;
	border: solid black;
	border-width: 0 2px 2px 0;
	padding: 1.5px;
	transform: rotate(-45deg);
}

/* Left Col bottom list */
.left_col_bot-ul[b-0cq57vet8a] {
	list-style: none;
	margin-top: 20px;
}

.left_col_bot-a[b-0cq57vet8a] {
	border-top: 1.5px solid #bbb;
	text-decoration: none;
	color: #1b2f5a;
	display: block;
	white-space: nowrap;
	font-weight: bold;
	font-size: 12px;
	padding: 2.5px;
}

.left_col_bot-a-first[b-0cq57vet8a] {
	border-top: none;
	border-radius: 5px 5px 0 0;
}

.left_col_bot-a-last[b-0cq57vet8a] {
	border-radius: 0 0 5px 5px;
}

.left_col_bot-a:hover[b-0cq57vet8a] {
	background-color: #c9c3bd;
	color: black;
}

.left_col_bot-li[b-0cq57vet8a] {
	text-align: center;
}

/* center page */

.center[b-0cq57vet8a] {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.main_card[b-0cq57vet8a] {
	display: flex;
	background-color: #25408F;
	color: white;
	width: 1200px;
	height: 400px;
	margin: auto;
	font-size: 17.3333px;
	justify-content: center;
}

.main_card-container[b-0cq57vet8a] {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.main_card-text-container-1[b-0cq57vet8a] {
	margin: 20px 20px;
}

.main_card-header[b-0cq57vet8a] {
	font-size: 32px;
	font-weight: bold;
}

.main_card-text-1[b-0cq57vet8a] {
	margin-bottom: 10px;
	font-size: 24px;
}

.main_card-text-2[b-0cq57vet8a] {
	font-size: 20px;
	padding: 0;
}

.main_card-text-container-2[b-0cq57vet8a] {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.main_card-btn[b-0cq57vet8a] {
	color: #25408F;
	background-color: white;
	border-radius: 3px;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.main_card-btn~p[b-0cq57vet8a] {
	margin: 15px 0 0 0;
}

.main_card-btn:hover[b-0cq57vet8a] {
	background-color: #1b2f5a;
	color: white;
}

.main_card-img[b-0cq57vet8a] {
	width: 50%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	padding: 0;
}

.center-hr[b-0cq57vet8a] {
	width: 25%;
}

.center-hr-bottom[b-0cq57vet8a] {
	margin-bottom: 50px;
}

.center-container[b-0cq57vet8a] {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	color: #333;
}

.center-container-text[b-0cq57vet8a] {
	width: 40%;
	font-size: 15px;
}

.center-container-btn[b-0cq57vet8a] {
	display: flex;
	justify-content: center;
}

.center-dining-btn[b-0cq57vet8a] {
	background-color: #f9d173;
	border-radius: 5px;
	padding: 3px 10px;
	text-decoration: none;
	color: black;
	border: 1px solid #53719e;
	font-weight: bold;
}

.center-dining-btn:hover[b-0cq57vet8a] {
	background-color: #9b9f88;
	;
}

/* Right Column */
.home_right-li[b-0cq57vet8a] {
	list-style: none;
	padding: 2.5px 20px;
	border-top: 1px solid #bbb;
}

.home_right-li-none[b-0cq57vet8a] {
	border-top: none;
}

.home_right-a[b-0cq57vet8a] {
	color: #333;
	text-decoration: none;
	font-size: 13.333px;
}

.home_right-a:has(.home_right-li:hover)[b-0cq57vet8a] {
	color: white;
}

.home_right-li:hover[b-0cq57vet8a] {
	background-color: #1b2f5a;
}

.home_right-secondary-a[b-0cq57vet8a] {
	margin-left: 20px;
	display: block;
}

.home_right-secondary-a:hover[b-0cq57vet8a] {
	background-color: #1b2f5a;
	color: white;
}

/* footer */
footer[b-0cq57vet8a] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer_links[b-0cq57vet8a] {}

.footer-btn[b-0cq57vet8a] {
	padding: 8px 15px;
	text-decoration: none;
	color: #1b2f5a;
	font-weight: bold;
}

.footer-btn:hover[b-0cq57vet8a] {
	background-color: #c9c3bd;
	color: black;
}

.footer-text[b-0cq57vet8a] {
	margin: 15px;
}

.footer-feedback-btn[b-0cq57vet8a] {
	padding: 5px 15px;
	text-decoration: none;
	color: #1b2f5a;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-bottom: 15px;
}

.footer-feedback-btn:hover[b-0cq57vet8a] {
	background-color: #c9c3bd;
}
