/* /Components/NavbarHome.razor.rz.scp.css */
.NavbarHome[b-hzksiupl7d] {
	background-color: #25408F;
	padding: 10px;
}

.NavbarHome_wrapper[b-hzksiupl7d] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavbarHome_img[b-hzksiupl7d] {
	width: auto;
	height: 90px;
}

.NavbarHome_ul[b-hzksiupl7d] {
	display: flex;
	list-style: none;
}

.NavbarHome_li[b-hzksiupl7d] {
	position: relative;
}

.NavbarHome_li[b-hzksiupl7d]::after {
	content: '';
	position: absolute;
	right: 0;
	top: -10%;
	height: 110%;
	width: 1px;
	background-color: white;
}

.NavbarHome_li-last[b-hzksiupl7d]::after {
	height: 0;
}

.NavbarHome_a[b-hzksiupl7d] {
	position: relative;
	padding: 15px;
	text-decoration: none;
	color: white;
}


.NavbarHome_a[b-hzksiupl7d]::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 5px;
	background-color: white;
	transition: width 0.3s ease;
}

.NavbarHome_a:hover[b-hzksiupl7d] {
	background-color: #53719e;
}

.NavbarHome_a:hover[b-hzksiupl7d]::after {
	width: 100%;
}
/* /Layout/MainLayout.razor.rz.scp.css */
*[b-l2r1d6nxw6] {
	padding: 0;
	margin: 0;
}
/* /Pages/Home.razor.rz.scp.css */
.mainContent[b-0cq57vet8a] {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.home_right-li[b-0cq57vet8a] {
	list-style: none;
	padding: 5px 20px;
	border-top: 1px solid #bbb;
}

.home_right-li-none[b-0cq57vet8a] {
	border-top: none;
}

.home_right-a[b-0cq57vet8a] {
	color: #333;
	text-decoration: none;
}

.home_right-li:hover[b-0cq57vet8a] {
	background-color: #1b2f5a;
}

.home_right-li:hover>.home_right-a[b-0cq57vet8a] {
	color: white;
}

.home_right-secondary-li[b-0cq57vet8a] {
	margin-left: 20px;
	padding: 0px 20px;
}
