.mainContent {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.home_right-li {
	list-style: none;
	padding: 5px 20px;
	border-top: 1px solid #bbb;
}

.home_right-li-none {
	border-top: none;
}

.home_right-a {
	color: #333;
	text-decoration: none;
}

.home_right-li:hover {
	background-color: #1b2f5a;
}

.home_right-li:hover>.home_right-a {
	color: white;
}

.home_right-secondary-li {
	margin-left: 20px;
	padding: 0px 20px;
}
