.mainContent {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

/* Left Column */
.left_col-ul {
	border: 1px solid #bbb;
	list-style: none;
}

.left_col-a {
	text-decoration: none;
	color: black;
	padding: 8px 25px;
	display: block;
	white-space: nowrap;
	border-bottom: .1px solid #bbb;
}

.left_col-a-last {
	border-bottom: none;
}

.left_col-li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left_col-a:hover {
	background-color: #1b2f5a;
	color: white;
}

.left_col-a:hover>.left_col-li>.left_col-arrow {
	border: solid white;
	border-width: 0 2px 2px 0;
	padding: 1.5px;
	transform: rotate(-45deg);
}

.left_col-arrow {
	display: inline-block;
	border: solid black;
	border-width: 0 2px 2px 0;
	padding: 1.5px;
	transform: rotate(-45deg);
}

/* Left Col bottom list */
.left_col_bot-ul {
	list-style: none;
	margin-top: 20px;
}

.left_col_bot-a {
	border-top: 1.5px solid #bbb;
	text-decoration: none;
	color: #1b2f5a;
	display: block;
	white-space: nowrap;
	font-weight: bold;
	font-size: 12px;
	padding: 2.5px;
}

.left_col_bot-a-first {
	border-top: none;
	border-radius: 5px 5px 0 0;
}

.left_col_bot-a-last {
	border-radius: 0 0 5px 5px;
}

.left_col_bot-a:hover {
	background-color: #c9c3bd;
	color: black;
}

.left_col_bot-li {
	text-align: center;
}

/* center page */

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.main_card {
	display: flex;
	background-color: #25408F;
	color: white;
	width: 80%;
}

.main_card-text-container-1 {
	margin: 20px 20px;
}

.main_card-text-container-2 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.main_card-btn {
	color: #25408F;
	background-color: white;
	border-radius: 5px;
	padding: 8px 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.main_card-btn~p {
	margin: 15px 0 0 0;
}

.main_card-btn:hover {
	background-color: #1b2f5a;
	color: white;
}

.main_card-img {
	width: 100%;
	height: 100%;
}

.center-hr {
	width: 25%;
}

.center-hr-bottom {
	margin-bottom: 50px;
}

.center-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	color: #333;
}

.center-container-text {
	width: 45%;
}

.center-container-text>p {
	font-size: 16px;
}

.center-container-btn {
	display: flex;
	justify-content: center;
}

.center-dining-btn {
	background-color: #f9d173;
	border-radius: 5px;
	padding: 3px 10px;
	text-decoration: none;
	color: black;
	border: 1px solid #53719e;
}

.center-dining-btn:hover {
	background-color: #9b9f88;
	;
}

/* Right Column */
.home_right-li {
	list-style: none;
	padding: 2.5px 20px;
	border-top: 1px solid #bbb;
}

.home_right-li-none {
	border-top: none;
}

.home_right-a {
	color: #333;
	text-decoration: none;
	font-size: 13.333px;
}

.home_right-a:has(.home_right-li:hover) {
	color: white;
}

.home_right-li:hover {
	background-color: #1b2f5a;
}

.home_right-secondary-a {
	margin-left: 20px;
	display: block;
}

.home_right-secondary-a:hover {
	background-color: #1b2f5a;
	color: white;
}

/* footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer_links {}

.footer-btn {
	padding: 8px 15px;
	text-decoration: none;
	color: #1b2f5a;
	font-weight: bold;
}

.footer-btn:hover {
	background-color: #c9c3bd;
	color: black;
}

.footer-text {
	margin: 15px;
}

.footer-feedback-btn {
	padding: 5px 15px;
	text-decoration: none;
	color: #1b2f5a;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-bottom: 15px;
}

.footer-feedback-btn:hover {
	background-color: #c9c3bd;
}
