@page "/"
@using LCB_Clone.Web.Components

<PageTitle>Nevada Legislature</PageTitle>

<NavbarHome/>

<div class="mainContent">

	<div class="left_col">
		<ul class="left_col-ul">
			<a class="left_col-a" href="">
				<li class="left_col-li">
					Session Info
					<span class="left_col-arrow"></span>
				</li>
			</a>
			<a class="left_col-a" href="">
				<li class="left_col-li">
					Interim Info
					<span class="left_col-arrow"></span>
				</li>
			</a>
			<a class="left_col-a" href="">
				<li class="left_col-li">
					Law Library
					<span class="left_col-arrow"></span>
				</li>
			</a>
			<a class="left_col-a" href="">
				<li class="left_col-li">
					General Info
					<span class="left_col-arrow"></span>
				</li>
			</a>
			<a class="left_col-a" href="">
				<li class="left_col-li">
					Councel Bureau
					<span class="left_col-arrow"></span>
				</li>
			</a>
			<a class="left_col-a" href="">
				<li class="left_col-li">
					Reasearch/<br>
					Library
					<span class="left_col-arrow"></span>
				</li>
			</a>
			<a class="left_col-a" href="">
				<li class="left_col-li">
					Assembly
				</li>
			</a>
			<a class="left_col-a left_col-a-last" href="">
				<li class="left_col-li">
					Senate
				</li>
			</a>
		</ul>

		<ul class="left_col_bot-ul">
			<a class="left_col_bot-a left_col_bot-a-first" href="">
				<li class="left_col_bot-li">
					Confidential<br>
					Reporting of<br>
					Harassment
				</li>
			</a>
			<a class="left_col_bot-a" href="">
				<li class="left_col_bot-li">
					Accessibility and<br>
					Language Access
				</li>
			</a>
			<a class="left_col_bot-a" href="">
				<li class="left_col_bot-li">
					Building<br>
					Information
				</li>
			</a>
			<a class="left_col_bot-a left_col_bot-a-last" href="">
				<li class="left_col_bot-li">
					Regulations on<br>
					Use of Legislative<br>
					Grounds and<br>
					Parking
				</li>
			</a>
		</ul>
	</div>

	<div class="center">
		<div class="main_card">
			<div class="main_card-img" style="background-image: url('/assets/CCLegBldg.png');">
			</div>

			<div class="main_card-container">
				<div class="main_card-text-container-1">
					<h2 class="main_card-header">Welcome to the Nevada State Legislature</h2>
					<p class="main_card-text-1">
						The 36th Special Session of the Nevada Legislature began on November 13, 2025 and adjourned sine die on November 19, 2025.
					</p>
					<p class="main_card-text-2">
						The Nevada Legislature has locations for viewing the legislative process in both Carson City and Las Vegas. 
					</p>
				</div>

				<div class="main_card-text-container-2">
					<div>
						<a class="main_card-btn" href="/Assembly/">Nevada State Assembly</a>
						<p>The Assembly has adjourned.</p>
					</div>

					<div>
						<a class="main_card-btn" href="/Senate/">Nevada State Senate</a>
						<p>The Senate has adjourned.</p>
					</div>
				</div>
			</div>
		</div>

		<hr class="center-hr">

		<div class="center-container">
			<img src="/assets/BattleBornCafe-sm.jpg"/>

			<div class="center-container-text">
				<h2>Dining at the Legislature</h2>

				<p>
					Dining options at the Nevada Legislature have recently expanded! Two new cafés have opened: Battle Born Café in Carson City, and 1864 Café in Las Vegas. Both cafés are open to the public and offer a variety of menu items for breakfast, lunch, or a quick coffee break. 
				</p>

				<div class="center-container-btn">
					<a class="center-dining-btn" href="/General/Dining">View Dining Options</a>
				</div>
			</div>

			<img src="/assets/1864Cafe-sm.jpg"/>
		</div>

		<hr class="center-hr center-hr-bottom">
	</div>

	<ul class="home_right-ul">
		<a class="home_right-a" href="">
			<li class="home_right-li home_right-li-none">
				Videos of Archived<br>Events
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				36th (2025) Special<br>Session
			</li>
		</a>
		<a class="home_right-a home_right-secondary-a" href="">
			<li class="home_right-li home_right-li-none">
				• Proclamation<br>
				Convening 36th<br>
				(2025) Special<br>
				Session
			</li>
		</a>
		<a class="home_right-a home_right-secondary-a" href="">
			<li class="home_right-li home_right-li-none">
				• NELIS
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
			Current Legislator<br>
			Contact Information
			</li>
		</a>
		<a class="home_right-a home_right-secondary-a" href="">
			<li class="home_right-li home_right-li-none">
				• Senate
			</li>
		</a>
		<a class="home_right-a home_right-secondary-a" href="">
			<li class="home_right-li home_right-li-none">
				• Assembly
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Lobbyist Information
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Apply to Serve on a<br>
				Legislatively<br>
				Appointed Committee
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Who's My Legislator?<br>
				What's My District
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Register of<br>
				Administrative<br>
				Regulations
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Administrative<br>
				Regulation Notices
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Public Meeting Notice
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Visit Our Gift Shop
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Employment<br>
				Opportunities
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Nevada State Printing
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				Events Calender
			</li>
		</a>
		<a class="home_right-a" href="">
			<li class="home_right-li">
				<img src="/assets/HomePageLink.gif"/>
			</li>
		</a>
	</ul>

</div>

<!-- footer -->
<footer>
	<div class="footer_links">
		<a class="footer-btn" href="">Search</a>
		<a class="footer-btn" href="">Text Only Site Map</a>
		<a class="footer-btn"href="">Video Gallery</a>
		<a class="footer-btn"href="">Contact Us</a>
		<a class="footer-btn"href="">Privacy Policy</a>
	</div>

	<p class="footer-text">This is a clone made by John H. Ross</p>

	<!-- This is not implimented on the leg.state.nv.us site -->
	<a class="footer-feedback-btn" href="">Give Us Your Feedback about our Website</a>
</footer>
