.NavbarHome {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #25408F;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.NavbarHome_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavbarHome_img {
	width: auto;
	height: 90px;
}

.NavbarHome_ul {
	display: flex;
	list-style: none;
	margin: 0;
}

.NavbarHome_li {
	position: relative;
}

.NavbarHome_li::after {
	content: '';
	position: absolute;
	right: 0;
	top: -10%;
	height: 110%;
	width: 1px;
	background-color: white;
}

.NavbarHome_li-last::after {
	height: 0;
}

.NavbarHome_a {
	position: relative;
	padding: 15px;
	text-decoration: none;
	color: white;
}


.NavbarHome_a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 5px;
	background-color: white;
	transition: width 0.3s ease;
}

.NavbarHome_a:hover {
	background-color: #53719e;
}

.NavbarHome_a:hover::after {
	width: 100%;
}
