<div class="NavbarHome">
	<div class="NavbarHome_wrapper">
		<img class="NavbarHome_img" src="/assets/lcb-logo-without-tagline-lg.png" />

		<ul class="NavbarHome_ul">
			<li class="NavbarHome_li">
				<a class="NavbarHome_a" href="/">Home</a>
			</li>
			<li class="NavbarHome_li">
				<a class="NavbarHome_a" href="">NELIS</a>
			</li>
			<li class="NavbarHome_li">
				<a class="NavbarHome_a" href="">Search</a>
			</li>
			<li class="NavbarHome_li NavbarHome_li-last">
				<a class="NavbarHome_a NavbarHome_a-last" href="">Scheuled Events</a>
			</li>
		</ul>
	</div>
</div>
