.NavbarHome[b-hzksiupl7d] {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #25408F;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.NavbarHome_wrapper[b-hzksiupl7d] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NavbarHome_img[b-hzksiupl7d] {
	width: auto;
	height: 90px;
}

.NavbarHome_ul[b-hzksiupl7d] {
	display: flex;
	list-style: none;
	margin: 0;
}

.NavbarHome_li[b-hzksiupl7d] {
	position: relative;
}

.NavbarHome_li[b-hzksiupl7d]::after {
	content: '';
	position: absolute;
	right: 0;
	top: -10%;
	height: 110%;
	width: 1px;
	background-color: white;
}

.NavbarHome_li-last[b-hzksiupl7d]::after {
	height: 0;
}

.NavbarHome_a[b-hzksiupl7d] {
	position: relative;
	padding: 15px;
	text-decoration: none;
	color: white;
}


.NavbarHome_a[b-hzksiupl7d]::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 5px;
	background-color: white;
	transition: width 0.3s ease;
}

.NavbarHome_a:hover[b-hzksiupl7d] {
	background-color: #53719e;
}

.NavbarHome_a:hover[b-hzksiupl7d]::after {
	width: 100%;
}
